@import "compass";
$bgcolor: #0a1218;
$bgcolor2:#071117;
$bg: #142f3b;
$textcolor: white;

@font-face {
  font-family: 'expansiva';
  src: url('../fonts/expansiva/expansiva.otf') format('truetype'),
}
* {
  box-sizing: border-box;
}
body {
  font-family: "ubuntu", sans-serif;
  font-size: 100%;
  color: #FFF;
  text-align: center;
  padding-top: 100vh;
}
section {
  min-height: 100vh;
  z-index: 1;
  background-color: $bg;
}
section.accueil {
  height: 100%;
  width: 100%;
  background: url(../img/bgtest2.png) center;
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  position: fixed;
  top: 0px;
  z-index: -5;

  header {
    margin: 0px;
    color: white;
    background-color: rgba($bgcolor, 0.7);
    height: 100%;
    width: 80%;
    margin: auto;
      @media all and (max-width:650px) {
width:90%;

}
  @media all and (max-width:350px) {
width: 95%;

}

    .encar {
      height: 300px;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 80%;

      img {
        width: 80px;
        height: auto;
        margin-bottom: 40px;
      }
      h1 {
        font-size: 49px;
        margin-bottom: 10px;
        font-family: "expansiva";
    @media all and (max-width:900px) {
font-size: 43px;

}
  @media all and (max-width:650px) {
font-size: 35px;

}
  @media all and (max-width:350px) {
font-size: 30px;

}
      }
      h2 {
        font-size: 15px;
        font-family: "expansiva";
        font-style: italic;
         @media all and (max-width:900px) {
font-size: 14px;

}
  @media all and (max-width:650px) {
font-size: 14px;

}
  @media all and (max-width:350px) {
font-size: 12px;

}
      }
    }
  }
}
section.two {
  padding-top: 40px;
  position: relative;
  z-index: 5;
.sepa{
  height: 40px;
  width: 100%;
  position: absolute;
  top: -40px;
  background-image: url(../img/shadow.png);
}
  h2 {
    font-size: 26px;
    margin-bottom: 20px;
    font-family: "expansiva";
  }
  div.jumb {
    width: 70%;
    font-style: italic;
    font-size: 15px;
    margin: auto;
    margin-bottom: 40px;
    line-height: 18px;
   
  @media all and (max-width:650px) {
width:90%;

}
  @media all and (max-width:350px) {
width: 95%;

}
  }
}

/***PROFILE ****/
#profiles {
  width: 98%;
  margin: auto;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  padding-bottom: 40px;
     @media all and (max-width:350px) {
overflow: scroll;
-webkit-overflow-scrolling: touch;

}
}
#list {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 100%;
}
.profile {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  padding: 5px;
   @media all and (max-width:900px) {
width: 25%;

}
  @media all and (max-width:650px) {
width: 33.3333%;

}
  @media all and (max-width:350px) {
width: 90%;

}
  .imgprofile {
    display: block;
    background-color: $bgcolor;
    width: 100%;
    overflow: hidden;

    img {
      height: 100%;
    }
  }
  h3 {
    background-color: rgba($bgcolor, 0.8);
    height: 35px;
    line-height: 33px;
    width: 100%;
  }
  p.shortpres {
    background-color: rgba($bgcolor, 0.5);
    height: 90px;
    white-space: normal;
    font-size: 12px;
    width: 100%;
    line-height: 20px;
    padding: 5px;
  }
  div.links {
    width: 100%;
    position: relative;
    text-align: left;

    span {
      padding-right: 2px;
      padding-top: 2px;
      display: inline-block;
      width: 20%;
      height: 40px;
      line-height: 40px;
      text-align: center;

      a {
        color: white;
        display: block;
        background-color: rgba($bgcolor, 0.8);
        border-radius: none;
        border: none;
        width: 100%;
        height: 100%;
        text-decoration: none;
      }
    }
    span:last-child {
      padding-right: 0px;
      height: 42px;
      line-height: 42px;
      position: absolute;
      right: 0px;
      top: -2px;

      a {
        background-color: rgba($bgcolor, 0.5);
      }
    }
  }





}
.btnright {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
    @media all and (max-width:350px) {
display: none;

}
}
.btnleft {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
  width: 60px;
  height: 60px;
     @media all and (max-width:350px) {
display: none;

}
}
button.cache {
  color: $bgcolor;
}

/*****MODAL*****/
div.modal {
  color: $bgcolor;
  text-align: left;

  .modal-header {
    height: 50px;

    h4 {
      font-weight: bold;
    }
  }
  .close {
    position: absolute;
    right: 10px;
    border: none;
    height: 50px;
    line-height: 50px;
    background-color: transparent;
    font-size: 30px;
    top: 0px;
  }
}
